* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background-color: white;
	color: black;}

footer {
	color: white;
}

/*LAYOUT CLASSES*/

.h-container {
	max-width: 1920px;
	height: 70px;
	display: flex;
	flex-wrap: wrap;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-70 {
	width: 70%;
	margin: 0 auto;
}

.col-60 {
	width: 60%;
	margin: 0 auto;
}

.mcm-box {
	width: 100%;
	height: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: dodgerblue;
}

.lower-mcb-top-content {
	width: 500px;
}

/*CONTENT*/

.h-content-left {
	width: 50%;
	display: inline-block;
	background-color: orange;
	border: 1px solid black
}

.h-content-right {
	width: 50%;
	display: inline-block;
	background-color: orange;
	border: 1px solid black
}

.logo {
	display: inline-block;
	margin-top: 10px;
	margin-left: 20px;
}

.m-container-top {
	max-width: 1920px;
	height: 700px;
	background-color: cyan;
}

.upper-mct {
	height: 200px;
	background-color: pink;
	font-size: 40px;
	margin-bottom: 40px;
}

.lower-mct {
	background-color: greenyellow;
	margin-bottom: 40px;
	font-size: 20px;
}

.l-mct-left i {
	margin-top: 20px;
	font-size: 40px;
}

.l-mct-left img {
	width: 70%;
	height: 70%;
	float: right;
}

.m-container-middle {
	max-width: 1920px;
	background-color: burlywood;
	margin-top: 120px;
}

.mcm-h1 {
	margin-bottom: 40px;
}

.mcm-radio-buttons {
	margin-bottom: 40px;
}
 
.radio-not-selected {
	display: inline-block;
	margin-left: 10px;
}

.billing {
	display: inline-block;
}

.payment-plans {
	width: 100%;
	height: 1000px;
	background-color: darkred;
	display: flex;
}

.pp-box {
	width: calc(100% / 3);
	height: 1000px;
	border: 1px solid black;
	background-color: darkseagreen;
	display: inline-block;
	margin-right: 20px;
}

.pp-head {
	border-bottom: 1px solid black;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.pp-inner-box {
	width: 320px;
	height: 955px;
	background-color:lightskyblue;
	margin: auto;
}

.pp-type {
	margin-bottom: 25px;
}

.pp-price {
	margin-top: 25px;
	margin-bottom: 20px;
}

.pp-tag {
	margin-bottom: 30px;
	opacity: 0.5;
}

.pp-hr {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 40px;
}

.pp-recap {
	margin-bottom: 30px;
}

.m-container-bottom {
	width: 100%;
	font-size: 0;
}

.mcb-svg {
	width: calc(100% / 3);
	height: 640px;
	background-color: yellow;
	display: inline-block;
	border: 1px solid black;
}

.mcb-svg-side {
	width: 50%;
	height: 50%;
	border: 1px solid black;
	display: inline-block;
}

.green-box {
	background-color: rgba(209,233,205,255);
}

.svg-design-left {
	background-color: rgba(93,44,100,255);
	filter: invert(100%);
	width: 90%;
	height: 90%;
	margin-top: 15px;
	margin-left: 15px;
	background-image: url(../img/designit.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.svg-asu {
	background-color: rgba(158,247,212,255);
	filter: invert(100%);
	background-image: url(../img/arizona_state_university.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.svg-florida {
	background-color: rgba(255,108,49,255);
	filter: invert(100%);
	background-image: url(../img/university_of_florida.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.svg-topps {
	background-color: rgba(0,227,227,255);
	filter: invert(100%);
	background-image: url(../img/topps.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.mcb-svg-center {
	width: 640px;
	height: 640px;
	background-color: lightgray;
	background-image: url(../img/designit.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position-y: 30px;
	background-position-x: center;
	position: relative;
}

.quote-hr {
	position: absolute;
	top: 30%;
	width: 10%;
	margin: auto 0;
	left: 60px;
}

.quote {
	width: 80%;
	background-color: blueviolet;
	position: absolute;
	left: 60px;
	top: 40%;
	font-size: 15px;
}

.quote-author {
	width: 80%;
	background-color: blueviolet;
	position: absolute;
	left: 60px;
	bottom: 40%;
	font-size: 15px;
}


.svg-wbr {
	background-color: rgba(42,255,224,255);
	filter: invert(100%);
	background-image: url(../img/world_bicycle_relief.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.svg-heartcorp {
	background-color: rgba(75,47,24,255);
	filter: invert(100%);
	background-image: url(../img/hearst_corp.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.svg-loneyplanet {
	background-color: rgba(242,219,126,255);
	filter: invert(100%);
	background-image: url(../img/lonely_planet.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.svg-cco {
	background-color: rgba(0,39,207,255);
	filter: invert(100%);
	background-image: url(../img/clear_channel.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.dropbox-exp {
	width: 100vw;
	height: 500px;
	background-color: blue;
}

.dropbox-faq {
	height: 500px;
	background-color: blueviolet;
}



.f-container {
	max-width: 1920px;
	height: 600px;
	width: 100%;
	background-color: hotpink;
}

.f-content-top {
	height: 500px;
	background-color: darkolivegreen;
}

.f-content-bottom {
	height: 100px;
	background-color: darkgreen;
}

/*SPECIFC STYLING SELECTOR AND CLASSES*/

.hcl-ul {
	list-style: none;
	display: inline-block;
	margin-left: 20px;
}

.hcl-ul li {
	display: inline-block;
	margin-bottom: 20px;
}

.hcr-ul {
	list-style: none;
	display: inline-block;
	margin-left: 20px;
	float: right;
	margin-top: 10px;
}

.hcr-ul li {
	display: inline-block;
	margin-bottom: 20px;
	margin-right: 10px;
}

.blue-li {
	color: white;
	height: 30px;
	width: 70px;
	background-color: blue;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

#blue-button {
	background-color: rgba(0,97,255,255);
	color: white;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 320px;
	margin-top: 20px;
	margin-bottom: 20px;
}


.pp-ul {
	list-style: none;
}

.pp-ul li {
	margin-bottom: 20px;
}

.fa-check {
	color:rgba(78,135,255,255);
}
