* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background-color: white;
	color: black;}

footer {
	color: white;
	background-color: black;
}

/*LAYOUT CLASSES*/

.h-container {
	width: 100%;
	height: 70px;
	display: flex;
	flex-wrap: wrap;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-70 {
	width: 70%;
	margin: 0 auto;
}

.col-60 {
	width: 60%;
	margin: 0 auto;
}

.lower-mcb-top-content {
	width: 500px;
}

/*CONTENT*/

.h-content-left {
	width: 50%;
	display: flex;
}

.h-content-right {
	width: 50%;
	display: inline-block;
}

.logo {
	height: 70px;
	width: 10%;
	background-image: url(../img/logo-small.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: 26px;
}

.m-container-top {
	max-width: 1920px;
	height: 700px;
	background-color: rgba(180,208,231,255);
}

.upper-mct {
	font-size: 40px;
	margin-bottom: 40px;
	margin-top: 100px;
}

.lower-mct {
	margin-bottom: 40px;
	font-size: 20px;
}

.l-mct-left i {
	margin-top: 20px;
	font-size: 40px;
}

.l-mct-left img {
	width: 70%;
	height: 70%;
	float: right;
}

.m-container-middle {
	max-width: 1920px;
	margin-top: 200px;
}

.mcm-h1 {
	margin-bottom: 40px;
}

.mcm-radio-buttons {
	margin-bottom: 40px;
}

.radio-selected {
	margin-top: 10px;
	border: 3px solid blue;
	width: 14px;
	height: 14px;
	background-color: white;
	appearance: none;
	border-radius: 50%;
}

.radio-not-selected {
	display: inline-block;
}

.billing {
	display: inline-block;
}

.payment-plans {
	width: 100%;
	height: 1000px;
	display: flex;
}

.pp-box {
	width: 32%;
	height: 1000px;
	border: 1px solid black;
}

.pp-box-center {
	margin-right: auto;
	margin-left: auto;
}

.pp-head {
	border-bottom: 1px solid black;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.pp-inner-box {
	width: 320px;
	height: 930px;
	margin: auto;
}

.pp-type {
	margin-bottom: 25px;
}

.pp-price {
	margin-top: 25px;
	margin-bottom: 20px;
}

.pp-tag {
	margin-bottom: 30px;
	opacity: 0.5;
}

.pp-hr {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 40px;
}

.pp-recap {
	margin-bottom: 30px;
}

.m-container-bottom {
	width: 100%;
	font-size: 0;
}

.sales-office {
	width: 100%;
	height: 250px;
	margin-top: 50px;
	margin-bottom: 150px;
	border: 1px solid black;
}

.so-head {
	text-align: center;
	border-bottom: 1px solid black;
	padding-top: 6px;
	padding-bottom: 5px;
}

.so-box {
	width: 90%;
	height: 470px;
	margin: auto;
	position: relative;
}


.so-content-left {
	width: 65%;
	position: absolute;
	top: 20px;
}

.so-content-right {
	width: 32%;
	position: absolute;
	top: 20px;
	right: 0;
}

.so-b-contact {
	margin-top: 20px;
	margin-bottom: 40px;
}

.dropbox-partner {
	width: 100%;
	height: 700px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
}

.dp-left {
	width: 60%;
	height: 700px;
	background-image: url(../img/partner.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: auto;
}

.dp-right {
	height: 700px;
	width: 39%;
}

.dp-right-content {
	width: 80%;
	margin: auto;
}

.dp-right-content h2 {
	margin-top: 40px;
	margin-bottom: 10px;
}

.find-partner {
	height: 30px;
	width: 140px;
	border: 1px solid black;
	text-align: center;
	padding-top: 5px;
	margin-top: 20px;
}

.dropbox-operations-head {
	text-align: center;
	margin-bottom: 10px;
}

.dropbox-operations-body {
	width: 100%;
	height: 822px;
	display: flex;
	flex-wrap: wrap;
}

.d-o-b-content {
	width: 30%;
	height: 400px;
	display: inline-block;
	margin-bottom: 20px;
}

.d-o-b-content-center {
	margin-left: auto;
	margin-right: auto;
}

.d-o-b-content-frame {
	width: 100%;
	height: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: center;
}

.business-feature-switching-tools-pic {
	background-image: url(../img/business-feature-switching-tools.png);
}

.business-feature-send-files-it-pic {
	background-image: url(../img/business-feature-send-files-it.png);
}

.business-feature-coordinate-it-pic {
	background-image: url(../img/business-feature-coordinate-it.png);
}

.business-feature-integrations-it-pic {
	background-image: url(../img/business-feature-integrations-it.png);
}

.business-feature-multi-device-pic {
	background-image: url(../img/business-feature-multi-device.png);
}

.business-feature-security-pic {
	background-image: url(../img/business-feature-security.png);
}

.d-o-b-content h2 {
	margin-top: 10px;
	margin-bottom: 20px;
}

.dropbox-clients {
	margin-top: 60px;
}

.dropbox-clients P {
	margin-top: 60px;
	margin-bottom: 100PX;
}

.mcb-svg {
	width: calc(100% / 3);
	height: 640px;
	display: inline-block;
}

.mcb-svg-side {
	width: 50%;
	height: 50%;
	display: inline-block;
}

.green-box {
	background-color: rgba(209,233,205,255);
}

.svg-design-left {
	background-color: rgba(93,44,100,255);
	filter: invert(100%);
	width: 90%;
	height: 90%;
	margin-top: 15px;
	margin-left: 15px;
	background-image: url(../img/designit.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.svg-asu {
	background-color: rgba(158,247,212,255);
	filter: invert(100%);
	background-image: url(../img/arizona_state_university.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.svg-florida {
	background-color: rgba(255,108,49,255);
	filter: invert(100%);
	background-image: url(../img/university_of_florida.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.svg-topps {
	background-color: rgba(0,227,227,255);
	filter: invert(100%);
	background-image: url(../img/topps.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.mcb-svg-center {
	width: 640px;
	height: 640px;
	background-color: lightgray;
	background-image: url(../img/designit.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position-y: 30px;
	background-position-x: center;
	position: relative;
}

.quote-hr {
	position: absolute;
	top: 30%;
	width: 10%;
	margin: auto 0;
	left: 60px;
}

.quote {
	width: 80%;
	position: absolute;
	left: 60px;
	top: 40%;
	font-size: 15px;
}

.quote-author {
	width: 80%;
	position: absolute;
	left: 60px;
	bottom: 40%;
	font-size: 15px;
}


.svg-wbr {
	background-color: rgba(42,255,224,255);
	filter: invert(100%);
	background-image: url(../img/world_bicycle_relief.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.svg-heartcorp {
	background-color: rgba(75,47,24,255);
	filter: invert(100%);
	background-image: url(../img/hearst_corp.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.svg-loneyplanet {
	background-color: rgba(242,219,126,255);
	filter: invert(100%);
	background-image: url(../img/lonely_planet.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.svg-cco {
	background-color: rgba(0,39,207,255);
	filter: invert(100%);
	background-image: url(../img/clear_channel.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.dropbox-exp {
	width: 100%;
	height: 500px;
	background-color: rgba(180,208,231,255);
}

.dropbox-exp-content {
	width: 100%;
	height: 500px;
	display: flex;
}

.dropbox-exp-content-left {
	width: 60%;
	height: 500px;
}

.dropbox-exp-content-right {
	width: 30%;
	height: 500px;
}

.dropbox-exp-h1 {
	margin-top: 100px;
	font-size: 25px;
}

.dropbox-exp-button {
	height: 20px;
	width: 250px;
	background-color: white;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 25px;
	margin-left: 200px;
	margin-top: 100px;
}

.dropbox-faq {
	height: 250px;
	margin-bottom: 150px;
}

.dropbox-faq h1 {
	margin-top: 40px;
}

.question {
	display: inline-block;
}

.faq-icon {
	display: inline-block;
}

.fa-chevron-down {
	margin-left: 560px;
}

.faq-hr {
	margin-top: 20px;
	margin-bottom: 20px;
}


.f-container {
	width: 100%;
	padding-top: 100px;
}

.f-content-top {
	height: 210px;
}

.fct-links {
	display: inline-block;
	margin-right: 110px;
}

.fct-links-head {
	margin-bottom: 20px;
}

.fct-links-ul {
	list-style: none;
}

.fct-links-ul li {
	margin-bottom: 10px;
}

.f-content-bottom {
	height: 100px;
}

.f-content-bottom hr {
	width: 10%;
	margin-bottom: 50px;
}

.fa-earth-americas {
	margin-right: 10px;
}

.fa-sort-up {
	margin-left: 5px;
}

/*SPECIFC STYLING SELECTOR AND CLASSES*/

.hcl-ul {
	width: 80%;
	list-style: none;
	display: inline-block;
	margin-left: 20px;
	margin-top: 26px;
}

.hcl-ul li {
	display: inline-block;
	margin-bottom: 20px;
}

.hcr-ul {
	list-style: none;
	display: inline-block;
	margin-left: 270px;
	margin-top: 10px;
}

.hcr-ul li {
	display: inline-block;
	margin-bottom: 20px;
	margin-right: 10px;
}

.blue-li {
	color: white;
	height: 30px;
	width: 70px;
	background-color: blue;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

#blue-button {
	background-color: rgba(0,97,255,255);
	color: white;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 320px;
	margin-top: 20px;
	margin-bottom: 20px;
}


.pp-ul {
	list-style: none;
}

.pp-ul li {
	margin-bottom: 20px;
}

.fa-check {
	color:rgba(78,135,255,255);
}
